# Ignore unnecessary files for Docker build
.git
.gitignore
Dockerfile
.dockerignore
*.pyc
*.pyo
__pycache__

# Ignore virtual environments
venv/

# Ignore environment variables or secret files
.env
.env.*

