# Ignoring Python bytecode files
*.pyc
*.pyo
__pycache__

# Ignoring virtual environment directory
venv/

# Ignoring Docker files
Dockerfile
.dockerignore

# Ignoring environment variables and secret files
.env
.env.*

# Ignoring PyCharm project files
.idea/

# Ignore=ing any temporary or OS-specific files
.DS_Store
*.swp
