# Ensuring that the qrcode and it's dependecies are installed when Docker builds the image
qrcode[pil] 
python-dotenv
validators
astroid==3.1.0
coverage==7.4.4
dill==0.3.8
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
pylint==3.1.0
pypng==0.20220715.0
pytest==8.1.1
pytest-cov==5.0.0
pytest-pylint==0.21.0
python-dotenv==1.0.1
qrcode==7.4.2
tomlkit==0.12.4
typing_extensions==4.10.0
validators==0.23.2
